body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .calculatorBody {
  width: 60%;
  height: 60%;
  background-color: grey;
  border: 1px solid black;
}
body .calculatorBody .face {
  height: 18%;
  background-color: lightgrey;
  width: 98%;
  font-size: 33px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .calculatorBody .buttonRow {
  height: 18%;
  width: 98%;
  display: flex;
}
body .calculatorBody .buttonRow .button {
  border: 1px solid green;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body .calculatorBody .buttonRow .button:hover {
  background-color: skyblue;
}
