body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .calculatorBody{
        width:60%;
        height:60%;
        background-color: grey;
        border:1px solid black;

        .face{
            height:20%;
            background-color:lightgrey;
            width:100%;
            font-size: 33px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .buttonRow{
            height:20%;
            width:100%;
            display:flex;

            .button{
                border:1px solid green;
                height:100%;
                width:100%;
                display:flex;
                flex-direction:row;
                justify-content: space-around;
                align-items: center;
                &:hover{
                    background-color: skyblue;
                }
            }
        }
    }
}